<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark pl-5"
  style="background-color: #dae3ea"
>
  <a class="navbar-brand" routerLink="/recipes" routerLinkActive="active"
    >Recipe Book</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav d-lg-flex justify-content-between">
      <div class="d-lg-flex">
        <li class="nav-item pl-lg-2">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
            >Recipes</a
          >
        </li>
        <li class="nav-item pl-lg-3">
          <a
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            >Shopping List</a
          >
        </li>
      </div>
      <div class="pr-4">
        <li class="nav-item dropdown open" appDropdown>
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Manage
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Save Data</a>
            <a class="dropdown-item">Fetch Data</a>
          </div>
        </li>
      </div>
    </ul>
  </div>
</nav>
