<a
  class="list-group-item list-group-item-action clearfix"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <div class="row">
    <div class="col-10">
      <div class="float-lg-left mr-lg-5">
        <h4>{{ recipe.name }}</h4>
        <p>{{ recipe.description }}</p>
      </div>
    </div>
    <div class="col-2">
      <span class="float-lg-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="height: 50px; width: 70px"
        />
      </span>
    </div>
  </div>
</a>
