<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">New Recipe</button>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <app-recipe-item
          *ngFor="let recipeEl of recipes; let i = index"
          [recipe]="recipeEl"
          (selectedRecipe)="recipeSelected(i)"
          [currentRecipeName]="currentRecipeName"
        ></app-recipe-item>
      </div>
    </div>
  </div>
</div>
